.icon {
  font-size: 18px;
}
.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardContainer {
  width: calc((100% - 6 * 10px) / 3);
  height: auto;
}
.itemName {
  color: var(--primary-color);
  display: block;
  /* width: 100%; */
}
.itemImg {
  width: 100%;
  height: auto;
}
.listOfCard {
  width: 1000px;
}
